.mainWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  flex: 1;
  display: flex;
  overflow-y: hidden;

  margin-top: 2px;

  @media screen and (max-width: 390px) {
    flex-direction: column;
  }
}
